.best-seller-card__container {
  background-color: var(--primary-color);
  max-width: 25rem;
  height: 370px;
  border: none;
  border-radius: 19px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}
.best-seller-card__image {
  overflow: hidden;
  filter: opacity(0.85);
  transition: all 0.3s;
}
.best-seller-card__container:hover .best-seller-card__image {
  filter: none;
}
.image {
  display: block;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s;
}

.best-seller-card__container:hover .best-seller-card__image > img {
  transform: scale(1.2);
}

.details-container {
  padding: 2rem 1rem;
}
.best-seller-card__summary {
  margin-top: 13px;
  font-size: 13px;
  color: rgb(241, 241, 241);
}
.best-seller-card-details__container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  p {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.best-seller-card__tag {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  padding: 2px 10px;
  background-color: #fff;
  border-radius: 25px;
}
.best-seller-card__container:hover .best-seller-card__tag {
  display: none;
}
