@use "../styles/mixin" as mixin;
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 0.5s ease;
  overflow-y: hidden;
}
.cart-container {
  height: 100vh;
  width: 60rem;
  background-color: white;
  float: right;
  padding: 4rem 1rem;
  position: relative;
  z-index: 100000;

  @include mixin.respond(phone) {
    width: 85%;
  }
  @media screen and (max-width: 455px) {
    width: 100%;
  }

  // @include mixin.respond(phone-xsm) {
  //   width: 100%;
  // }
}
.cart-bottom {
  width: 100%;
  padding: 3rem 6.5rem;
  padding-bottom: 10rem;
  z-index: 1000;
  overflow: hidden;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin: 0 auto;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 1rem;
}
.cart-num-items {
  margin-left: 1rem;
  color: var(--secondary-color);
}
.empty-cart {
  margin: 4rem;
  text-align: center;
  p {
    font-size: 1.5rem;
  }
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 3rem;
  color: var(--primary-color);
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 2rem 1rem;
}
.product {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  justify-content: space-between;
}

.product .cart-product-image {
  width: 10rem;
  height: 15rem;
  border-radius: 5px;
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 35rem;
  color: var(--primary-color);
}
.item-desc p {
  font-size: 1.5rem;
}
.item-desc .bottom {
  margin-top: 60px;
}
.flex h5 {
  font-size: 2.4rem;
}
.flex h4 {
  font-size: 2rem;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 2.2rem;
}
.remove-item {
  font-size: 2.4rem;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}
.quantity p {
  color: rgb(116, 116, 116);
}
.quantity-desc span {
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-weight: 400;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}
.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 2rem;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
}
