@use "../styles/mixin" as mixin;
.logo {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 4rem;
  gap: 10px;
  span {
    font-size: 2.5rem;
    color: var(--secondary-color);
  }
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
.nav-col {
  @include mixin.respond(phone-big) {
    grid-row: 2;
    grid-column: span 2;
    margin-top: 50px;
  }
}
.logo-col,
.address-col {
  @include mixin.respond(phone-big) {
    grid-column: span 3;
  }
}
