@use "../styles/mixin" as mixin;
.hero-section {
  max-width: 140rem;
  align-items: center;
  padding: 13rem 3.2rem;
  margin: 0 auto;
  @include mixin.respond(tab-land) {
    max-width: 130rem;
  }

  grid-template-columns: 60% 40%;
  span {
    color: var(--secondary-color);
  }
  @include mixin.respond(phone-big) {
    grid-template-columns: 1fr;
    padding: 15rem 7rem 0 7rem;
  }
  @include mixin.respond(phone) {
    grid-template-columns: 1fr;
    padding: 20rem 4rem 0 4rem;
  }
  @include mixin.respond(phone-sm) {
    padding-top: 20rem;
  }
}

.hero-text {
  @include mixin.respond(phone-big) {
    text-align: center;
  }
  p {
    font-size: 2.6rem;
    margin-top: 2rem;
    @include mixin.respond(tab-port) {
      font-size: 2rem;
    }
    @include mixin.respond(phone) {
      font-size: 1.5rem;
    }
  }
  button a {
    color: #fff;
    text-decoration: none;
  }
}
// .hero-image {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }
.hero-image-container {
  @include mixin.respond(phone-big) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero-images {
  width: 100%;
  @include mixin.respond(phone-big) {
    width: 40%;
  }
  position: relative;
}
.leaf1 {
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: rotate(180deg);
  @include mixin.respond(phone) {
    width: 8rem;
  }
}
.leaf2 {
  width: 8rem;
  position: absolute;
  top: 5%;
  left: 60%;
  @include mixin.respond(phone) {
    width: 5rem;
  }
}
.leaf3 {
  width: 10rem;
  position: absolute;
  top: 60%;
  left: 70%;
  @include mixin.respond(phone) {
    width: 8rem;
  }
}
.hero-num {
  margin-top: 2rem;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: flex-start;
  @include mixin.respond(phone-big) {
    justify-content: center;
  }
}
.hero-num-content {
  p {
    color: var(--secondary-color);
    font-size: 3.5rem;
  }
  span {
    font-size: 1.4rem;
    color: var(--primary-color);
  }
}
