.hero-section {
  display: grid;
  grid-template-columns: 60% 40%;

  align-items: center;
  margin: 0 auto;
  height: 100vh;

  span {
    color: var(--secondary-color);
  }
}

.hero-text {
  p {
    font-size: 3.2rem;
    margin-top: 20px;
  }
}
.hero-image {
  justify-self: end;
}
.hero-images {
  width: 100%;
}
