.hero-section {
  align-items: center;
  padding: 15rem 3rem 0 3rem;
  grid-template-columns: 60% 40%;
  span {
    color: var(--secondary-color);
  }
}

.hero-text {
  p {
    font-size: 3.2rem;
    margin-top: 20px;
  }
}
.hero-image {
  justify-self: end;
}
.hero-images {
  width: 100%;
}
