.section-plants {
  display: flex;
  flex-direction: column;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  gap: 29px;
  margin: 20px auto;
  width: 100%;
}

